# Nest
PORT=5000

#environments
DEVELOPMENT=development
TEST=test
PRODUCTION=production

NODE_ENV=development

#Connect PostgreSQL
# POSTGRES_DIALECT=postgres
POSTGRES_HOST=27.0.15.115
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=fs-db
POSTGRES_SCHEMA=

#JWT
JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret
ACCESS_TOKEN_EXPIRE_TIME=1h
REFRESH_TOKEN_EXPIRE_TIME=30d

# mail
MAIL_HOST=mail9358.maychuemail.com
MAIL_PORT=587
MAIL_FROM=system@qkit.vn
MAIL_USER=system@qkit.vn
MAIL_PASSWORD=system@qkit.vn
# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}

FRONT_END_URL=http://localhost:3000

IMAGE_STAG_TAG=latest
IMAGE_PROD_TAG=latest

MINUTE_WAIT_FORGOT_PASSWORD=1