<html>
    <head>
        <title>Thiết lập lại mật khẩu</title>
    </head>
    <body>
        <p>Xin chào,</p>
        <p>Bạn đã yêu cầu thiết lập lại mật khẩu của mình. Vui lòng nhấn vào đường link bên dưới để tiếp tục:</p>
        <p><a href='{{resetPasswordLink}}'>Thiết lập lại mật khẩu</a></p>
        <p>Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua email này.</p>
        <p>Đường link trên sẽ hết hạn sau {{resetLinkExpiration}} giờ.</p>
        <p>Xin cảm ơn!</p>
    </body>
</html>